//
//  comodo.xcconfig
//  
//
//  Created by Gabriele Minniti on 04/12/17.
//
//

<!-- Portfolio -->

<section id="portfolio" class="portfolio">
<div class="container">
<div class="row">
<div class="col-lg-10 mx-auto text-center">
<h2>The Main Products</h2>
<hr class="small">
</hr>



<div id="earlylife_images">

<figure>
<img src="static/img/borealis.jpg" alt="Borealis Backpac"  >
<figcaption>Borealis Backpack</figcaption>
</figure>



<figure>
<img src="static/img/duffel.jpg" alt="Duffel Base Camp">
<figcaption>Duffel Base Camp</figcaption>
</figure>

<figure>
<img src="static/img/thermoball.jpg" alt="Thermoball Jacket">
<figcaption>Thermoball Jacket</figcaption>
</figure>



</div>
<!-- /.row (nested) -->
<a href="https://www.thenorthface.it/homepage.html" class="btn btn-dark">View More Items</a>
</div>
<!-- /.col-lg-10 -->
</div>
<!-- /.row -->
</div>
<!-- /.container -->
</section>
