<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
   
    <title>MyCapstoneProject</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="static/css/stylish-portfolio.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#top">North Face Addicted</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#services">Recognize</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#portfolio">Products</a>
        </li>
        <li>
            <a class="js-scroll-trigger" href="#map">Stores</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#contact" onclick=$( "#menu-close").click();>Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1> North Face Addicted</h1>
        <h3>My Capstone Project</h3>
        <br>
        <a href="#services" class="btn btn-dark btn-lg js-scroll-trigger">Recognize</a>
        </br>
      </div>
    </header>

    <!-- Services -->
    
    <section id="services" class="services bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-10 mx-auto">
            <h2>Recognize</h2>
            
            <head>
                <title>Select a video that you wanna recognize</title>
                
            </head>
            
            
           <style>
               
           img {
           border: 1px solid #ddd; /* Gray border */
           border-radius: 4px;  /* Rounded border */
           padding: 5px; /* Some padding */
           width: 350px; /* Set a small width */
           }
           
           /* Add a hover effect (blue shadow) */
           img:hover {
           box-shadow: 0 0 2px 1px rgba(0, 240, 280, 0.5);
           }
           </style>
            

            <!--
             
            <body>
                <div class="dropdown">
                    <a data-toggle="dropdown" href="#" class="btn btn-primary">Scegli un Video</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Borealis</li>
                        <li><a href="primo_video" action='primo_video' >Video  #1</a></li>
                        <li><a href="#" action='next_gabri'>Video #2</a></li>
                        <li><a href="#"action='next_gabri'>Video #3</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Duffel</li>
                        <li><a href="#"action='next_gabri'>Video #1</a></li>
                        <li><a href="#"action='next_gabri'>Video #2</a></li>
                        <li><a href="#"action='next_gabri'>Video #3</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Thermoball</li>
                        <li><a href="#"action='next_gabri'>Video #1</a></li>
                        <li><a href="#"action='next_gabri'>Video #2</a></li>
                        <li><a href="#"action='next_gabri'>Video #3</a></li>
                    </ul>
                </div>
            </body>
        </div>
          
             -->
            
            <center>
            <table >
                <tr>
                    <td><a action="primo_video" href="primo_video">
                        <img src="static/img/thumbnails/primo_video.png" alt="Duffel">
                            </a></td>
                    <td><a action="secondo_video" href="secondo_video">
                        <img src="static/img/thumbnails/secondo_video.png" alt="Thermoball">
                            </a></td>
                    <td><a action="terzo_video" href="terzo_video">
                        <img src="static/img/thumbnails/terzo_video.png" alt="Borealis">
                            </a>
                    
                </tr>
                <tr>
                    <td><a action="quarto_video" href="quarto_video">
                        <img src="static/img/thumbnails/quarto_video.png" alt="Borealis">
                            </a></td>
                    <td><a action="quinto_video" href="quinto_video">
                        <img src="static/img/thumbnails/quinto_video.png" alt="Duffel">
                            </a></td>
                    <td><a action="sesto_video" href="sesto_video">
                        <img src="static/img/thumbnails/sesto_video.png" alt="Thermoball">
                            </a></td>
                    
                </tr>
                <tr>
                    <td><a action="primo_video" href="primo_video">
                        <img src="static/img/imm_3.jpg" alt="Gullich">
                            </a></td>
                    <td><a action="primo_video" href="primo_video">
                        <img src="static/img/imm_3.jpg" alt="Gullich">
                            </a></td>
                    <td><a action="primo_video" href="primo_video">
                        <img src="static/img/imm_3.jpg" alt="Gullich">
                            </a></td>
                </tr>
            </table>
            </center>
            
         
          <!-- /.row (nested) -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      <!-- /.container -->
    </section>


   
    <!-- Portfolio -->
    
    <section id="portfolio" class="portfolio">
      <div class="container">
       <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>The Main Products</h2>
            <hr class="small">
            </hr>
            
            
            
            <div id="earlylife_images">
                
                                    <figure>
                    <img src="static/img/borealis.jpg" alt="Borealis Backpac"  >
                        <figcaption>Borealis Backpack</figcaption>
                </figure>
            
            
            
                <figure>
                    <img src="static/img/duffel.jpg" alt="Duffel Base Camp">
                        <figcaption>Duffel Base Camp</figcaption>
                        </figure>
                
                <figure>
                    <img src="static/img/thermoball.jpg" alt="Thermoball Jacket">
                        <figcaption>Thermoball Jacket</figcaption>
                        </figure>


                
                </div>
            <!-- /.row (nested) -->
            <a href="https://www.thenorthface.it/homepage.html" class="btn btn-dark">View More Items</a>
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>






    <!-- Map -->
    <section id="map" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAGM8JYUbaOW7QkQ-9OI_xiU0vEc6qEp5Q&q=north+face+stores+in+Milan"></iframe>
      <br/>
      <small>
          <a href="https://www.google.com/maps/embed/v1/search?key=AIzaSyAGM8JYUbaOW7QkQ-9OI_xiU0vEc6qEp5Q&q=north+face+stores+in+Milan"></a>
      </small>
    </section>
    
    <!-- CNN -->
    <!-- mettere descrizione progetto >

     
     
     

    <!-- Footer -->
    <footer>
     <section id="contact" >
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>Gabriele Minniti</strong>
            </h4>
              <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="gabriele.minniti2@gmail.com">gabriele.minniti2@gmail.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; Your Website 2017</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
     </section>
    </footer>



    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/stylish-portfolio.js"></script>

  </body>

</html>
