<!DOCTYPE html>
<html>
    <title> PROVA CON BESTEMMIA </title>
    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.it.CY7mlOshbo4.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCMY0t4zM_F4sC7PvKbfoLAXGP4K_g/cb=gapi.loaded_0" async=""></script>
    <body>
        <!-- la funzione è nel body -->
        <h1>A Web Page</h1>
        <p id="demo">A Paragraph</p>
        <button type="button" id="example1">Try it</button>
        <p>
            <button class="btn example1">Test on this page</button>
        </p>
            <script src="/static/js/html2canvas.js"></script>
            <script src="/static/js/prettify.js"></script>

            <script>
                window.prettyPrint();
                $("#example1").on("click", function(event) {
                                  event.preventDefault();
                                  html2canvas(document.body, {
                                              allowTaint: true,
                                              taintTest: false,
                                              onrendered: function(canvas) {
                                              document.body.appendChild(canvas);
                                              }
                                              });
                                  });
                                  
                                  
            
            </script>
        
    </body>
</html>
